
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:if condition="{pluginName}=='Sliderjs'">
	<f:if condition="{settings.slider_type}=='fade'">
		<f:render partial="Sliderjs/Sliderjs-fade" arguments="{galleries: galleries, settings: settings}" />
	</f:if>
	<f:if condition="{settings.slider_type}=='slide'">
		<f:render partial="Sliderjs/Sliderjs-slide" arguments="{galleries: galleries, settings: settings}" />
	</f:if>
	<f:if condition="{settings.slider_type}=='playing'">
		<f:render partial="Sliderjs/Sliderjs-playing" arguments="{galleries: galleries, settings: settings}" />
	</f:if>
	<f:if condition="{settings.slider_type}=='standard'">
		<f:render partial="Sliderjs/Sliderjs-standard" arguments="{galleries: galleries, settings: settings}" />
	</f:if>
</f:if>
</f:section>