
<f:layout name="Default" />

<f:section name="main">
<f:if condition="{pluginName}=='Sliderjs'">
	<f:if condition="{settings.slider_type}=='fade'">
		<f:render partial="Sliderjs/Sliderjs-fade" arguments="{galleries: galleries, settings: settings}" />
	</f:if>
	<f:if condition="{settings.slider_type}=='slide'">
		<f:render partial="Sliderjs/Sliderjs-slide" arguments="{galleries: galleries, settings: settings}" />
	</f:if>
	<f:if condition="{settings.slider_type}=='playing'">
		<f:render partial="Sliderjs/Sliderjs-playing" arguments="{galleries: galleries, settings: settings}" />
	</f:if>
	<f:if condition="{settings.slider_type}=='standard'">
		<f:render partial="Sliderjs/Sliderjs-standard" arguments="{galleries: galleries, settings: settings}" />
	</f:if>
</f:if>
</f:section>