{namespace custom=Nsallsliders\NsAllSliders\ViewHelpers}
<script>
  var owldomain = window.location.hostname.indexOf('owlgraphic');
  if(owldomain !== -1){
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  }
  </script>
<div id="demo">
  <div class="container">
    <div class="row">
      <div class="span12">
		<div id="owl-demo" class="owl-carousel owl-theme">
			<f:for each="{galleries}" as="people">
				<f:if condition="{people.image}">
					<f:for each="{people.image}" as="picture">
						<f:if condition="{settings.lazyLoad}=='true'">
							<f:then>
								<div class="item">
									<f:link.page pageUid="{picture.originalResource.link}" target="<custom:yesno myvalue='{picture.originalResource.link}' />">
										<f:image class="lazyOwl" src="{picture.originalResource.publicUrl}" alt="{picture.originalResource.alternative}" additionalAttributes="{data-src: '{picture.originalResource.publicUrl}'}" title="{picture.originalResource.title}" />
									</f:link.page>
								</div>
							</f:then>
							<f:else>
								<div class="item">
									<f:link.page pageUid="{picture.originalResource.link}" target="<custom:yesno myvalue='{picture.originalResource.link}' />">
										<f:image src="{picture.originalResource.publicUrl}" alt="{picture.originalResource.alternative}" title="{picture.originalResource.title}" />
									</f:link.page>
								</div>
							</f:else>
						</f:if>
					</f:for>
				</f:if>
			</f:for>
		</div>
 	 </div>
   </div>
 </div>
</div>
