{namespace custom=Nsallsliders\NsAllSliders\ViewHelpers}
<div id="gallery-1" class="royalSlider rsDefault">
    <f:for each="{galleries}" as="people">
        <f:if condition="{people.image}">
            <f:for each="{people.image}" as="picture">
                <div class="rsContent">
                    <a class="rsImg" data-rsw="{settings.slidewidth}" data-rsh="{settings.slideheight}" data-rsbigimg="{picture.originalResource.publicUrl}" href="{picture.originalResource.publicUrl}">
                        {picture.originalResource.title}
                        <f:image class="rsTmb" src="{picture.originalResource.publicUrl}" alt="{picture.originalResource.alternative}" title="{picture.originalResource.title}" width="{settings.slidethumbwidth}" height="{settings.slidthumbeheight}"/>
                    </a>
                    <f:link.page pageUid="{picture.originalResource.link}" target="<custom:yesno myvalue='{picture.originalResource.link}' />">
                    </f:link.page>
                </div>
            </f:for>
        </f:if>
    </f:for>
</div>
