<!-- The container is used to define the width of the slideshow -->
<div class="container">
    <div id="slides">
        <f:for each="{galleries}" as="people">
            <f:if condition="{people.image}">
                <f:for each="{people.image}" as="picture">
                    <f:link.typolink parameter="{picture.originalResource.link}" title="{picture.originalResource.title}">
                        <f:image src="{picture.originalResource.publicUrl}" alt="{picture.originalResource.alternative}"  width="{settings.slidewidth}" height="{settings.slideheight}"/>
                    </f:link.typolink>
                </f:for>
            </f:if>
        </f:for>
    </div>
</div>
<!-- End SlidesJS Required: Start Slides -->

 